@import url(../css/navigation.css);

body{
  background-image: url(../imgs/main.jpg);
  margin: 0px;
  background-position: top center;
  background-size:cover;
  font-family: 'JetBrains Mono', sans-serif;
  overflow: hidden;
}

.main-container {
  overflow: hidden;
}
    
.invisible-container {
  height: 100vh;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.invisible-container ul{
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: 0.5s;
  margin-top: 10rem;
}

.invisible-container img {
  width: 31.25rem;
  height: 18.75rem;
  transition: 0.5s;
}

.invisible-container p {
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-height: 400px) {
  body{background: url(../imgs/main_mobile.jpg); overflow-y: hidden;}
  .side-nav {padding-top: 15px;}
  .side-nav a {font-size: 18px;}
  .invisible-container ul {font-size: 18px; margin-top: 2rem;}
  .invisible-container img {scale: 0.75;}
  .invisible-container p {font-size: 0.75rem; text-align: center;}
}

@media screen and (max-width: 600px) {
  body{background: url(../imgs/main_mobile.jpg); background-repeat: no-repeat; background-size:cover; background-position: top center; overflow-y: hidden;}
  .side-nav {padding-top: 15px;}
  .side-nav a {font-size: 18px;}
  .invisible-container ul {font-size: 18px; margin-top: 2rem;}
  .invisible-container img {scale: 0.75;}
  .invisible-container p {font-size: 0.75rem; text-align: center;}
}