@import url('https://fonts.googleapis.com/css?family=JetBrains Mono');
@import url(../css/navigation.css);
body{
    background-image: url(../imgs/register.jpg);
    background-position: top center;
    background-size:cover;
    margin: 0px;
    overflow: hidden;
    font-family: 'JetBrains Mono', sans-serif;
}

.main-container {
    overflow: hidden;
}

.invisible-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.invisible-container__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.invisible-container__container input {
    background-color: rgba(31, 30, 30, 80%);
    margin-top: 1rem;
    border-radius: 35px;
    border: none;
    width: 325px;
    height: 45px;
    font-size: 20px;
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: bold;
    padding-left: 15px;
    color: white;
}

.invisible-container__container input[type=submit]{
    width: 185px;
    height: 45px;
    background-color: rgba(31, 30, 30, 90%);
}

.invisible-container__container input[type=submit]:hover{
    color: rgb(207, 2, 2);
    cursor: pointer;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.invisible-container__container label, .invisible-container__container label a{
    font-family: 'JetBrains Mono', sans-serif;
    margin-top: 1rem;
    font-size: 17px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: none;
    color: white;
}

.invisible-container__container label a{
    color: darkorange;
}

.invisible-container__container label a:hover{
    color: rgb(207, 2, 2);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media screen and (max-height: 400px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
}
  
@media screen and (max-width: 600px) {
    .side-nav {padding-top: 15px;}
    .side-nav a {font-size: 18px;}
    body {background: url(../imgs/register_mobile.jpg); background-repeat: no-repeat; background-size:cover;}
}