@import url('https://fonts.googleapis.com/css?family=JetBrains Mono');

body{
    background-image: url(../imgs/login.jpg);
}

.invisible-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.container input {
    background-color: rgba(31, 30, 30, 90%);
    margin-top: 1rem;
    border-radius: 35px;
    border: none;
    width: 350px;
    height: 45px;
    font-size: 20px;
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: bold;
    padding-left: 15px;
    color: white;
}